.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}

.carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-container .carousel__content {
  display: none;
}

.carousel-container .carousel__content--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 768px) {
  .carousel-container .carousel__content--visible {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.carousel-container .carousel__content--visible .first__content {
  width: 100%;
  height: 100%;
  background: url("images/pattern-bg.svg") no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: -1;
  /*@media (min-width: 768px) {
                width: 65%;
            }
    
            @media (min-width: 1024px) {
                width: 70%;
            }*/
}

.carousel-container .carousel__content--visible .first__content .image__container {
  width: 220px;
  height: 220px;
  margin: 30px auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.carousel-container .carousel__content--visible .first__content .image__container > img {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-container .carousel__content--visible .second__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("images/pattern-quotes.svg") no-repeat;
  background-position: top center;
  background-size: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /*@media (min-width: 1024px) {
                left: 233px;
            }*/
}

@media (min-width: 768px) {
  .carousel-container .carousel__content--visible .second__content {
    margin: 20px -206px 20px 20px;
  }
}

.carousel-container .carousel__content--visible .second__content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #202046;
  margin: 20px 35px;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 768px) {
  .carousel-container .carousel__content--visible .second__content p {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .carousel-container .carousel__content--visible .second__content p {
    font-size: 32px;
  }
}

.carousel-container .carousel__content--visible .second__content .person__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .carousel-container .carousel__content--visible .second__content .person__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 35px;
  }
}

.carousel-container .carousel__content--visible .second__content .person__details > .person__name {
  font-size: 14px;
  color: #202046;
  font-weight: 700;
}

.carousel-container .carousel__content--visible .second__content .person__details > .person__role {
  font-size: 13px;
  color: #babacf;
  font-weight: 500;
  margin: 3px 0 0 0;
}

@media (min-width: 768px) {
  .carousel-container .carousel__content--visible .second__content .person__details > .person__role {
    margin: 0 0 0 10px;
  }
}

.carousel-container .slider__buttons {
  position: absolute;
  content: "";
  top: 241px;
  right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  height: auto;
  background: white;
  -webkit-box-shadow: 0 5px 10px gray;
          box-shadow: 0 5px 10px gray;
  /*@media (min-width: 768px) {
            right: 280px;
        }*/
}

.carousel-container .slider__buttons .btn__slider {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-container .slider__buttons .btn__slider > img {
  width: 50%;
  height: 60%;
}
/*# sourceMappingURL=styles.css.map */